<table class="table table-hover table-bordered" id="sampleTable">
    <thead>
    <td><a href="{{ path('addHotel')}} " class="btn"> {% trans %}Ajouter un Hotel{% endtrans %}</a></td>
    <tr>
        <th> {% trans %}Nom Hotel{% endtrans %}</th>
        <th>{% trans %}Nombre d'étoiles {% endtrans %}</th>
        <th>{% trans %}Nombre de chambres{% endtrans %}</th>
        <th> {% trans %}Adresse{% endtrans %}</th>
        <th> {% trans %}Pays{% endtrans %}</th>
        <th> {% trans %}Tel{% endtrans %}</th>
        <th>Email</th>
        <th> {% trans %}Image{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for hotel in hotels %}
        <tr>
            <td>{{ hotel.nomHotel }}</td>
            <td>{{ hotel.nbrEtoiles }}</td>
            <td>{{ hotel.nbrChambres }}</td>
            <td>{{ hotel.adresse }}</td>
            <td>{{ hotel.pays }}</td>
            <td>{{ hotel.tel }}</td>
            <td>{{ hotel.email }}</td>
            <td><img src="{{ asset('uploads/' ~ hotel.image) }}" width="180" height="100"></td>
            <td><a href="{{ path('updateHotel', {'id': hotel.idHotel}) }}" class="btn btn-success"> {% trans %}Modifier{% endtrans %}</a></td>
            <td><a href="{{ path('deleteHotel', {'id': hotel.idHotel}) }}" class="btn btn-danger"> {% trans %}Supprimer{% endtrans %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>