<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login V18</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="images-login/icons/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="vendor-login/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="fonts-login/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="fonts-login/Linearicons-Free-v1.0.0/icon-font.min.css">
		<link rel="stylesheet" type="text/css" href="vendor-login/animate/animate.css">
		<link rel="stylesheet" type="text/css" href="vendor-login/css-hamburgers/hamburgers.min.css">
		<link rel="stylesheet" type="text/css" href="vendor-login/animsition/css/animsition.min.css">
		<link rel="stylesheet" type="text/css" href="vendor-login/select2/select2.min.css">
		<link rel="stylesheet" type="text/css" href="vendor-login/daterangepicker/daterangepicker.css">
		<link rel="stylesheet" type="text/css" href="css-login/util.css">
		<link rel="stylesheet" type="text/css" href="css-login/main.css">
	</head>
	<body style="background-color: #666666;">

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form" method="post">

						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						<span class="login100-form-title p-b-43">
							Login to continue
						</span>

						<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input100" autocomplete="email" required autofocus>
							<span class="focus-input100"></span>
							<span class="label-input100">Email</span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Password is required">
							<input type="password" name="password" id="inputPassword" class="input100" autocomplete="current-password" required>
							<span class="focus-input100"></span>
							<span class="label-input100">Password</span>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<div class="flex-sb-m w-full p-t-3 p-b-32">
							<div class="contact100-form-checkbox">
								<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
								<label type="checkbox" name="_remember_me" class="label-checkbox100" for="ckb1">
									Remember me
								</label>
							</div>

							<div>
								<a href="{{ path('app_forgot_password_request') }}" class="txt1">
									Forgot Password?
								</a>
							</div>
						</div>

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit">
								Login
							</button>
						</div>

						<div class="text-center p-t-46 p-b-20">
							<span class="txt2">
								Don't have account ?
							</span>
						</div>

						<div class="login100-form-social flex-c-m">
							<div>
								<a href="{{ path('app_register') }}" class="txt4">
									Register Now
								</a>
							</div>
						</div>
					</form>

					<div class="login100-more" style="background-image: url('images-login/bg-01.jpg');"></div>
				</div>
			</div>
		</div>

		<script src="vendor-login/jquery/jquery-3.2.1.min.js"></script>
		<script src="vendor-login/animsition/js/animsition.min.js"></script>
		<script src="vendor-login/bootstrap/js/popper.js"></script>
		<script src="vendor-login/bootstrap/js/bootstrap.min.js"></script>
		<script src="vendor-login/select2/select2.min.js"></script>
		<script src="vendor-login/daterangepicker/moment.min.js"></script>
		<script src="vendor-login/daterangepicker/daterangepicker.js"></script>
		<script src="vendor-login/countdowntime/countdowntime.js"></script>
		<script src="js-login/main.js"></script>

	</body>
</html>
