{% extends 'baseFront.html.twig' %}
{% block body %}
<section class="material-half-bg" >
    <div class="cover"></div>
</section>
<section class="login-content" style="margin-right: 50px;margin-left: 50px; margin-top:50px; margin-bottom: 50px ">

    <div class="login-box" style="margin-right: 50px;margin-left: 50px; margin-top:50px; margin-bottom: 50px ">
        <div class="login-form" action="index.html">
            <h3 class="login-head"></i>Confirm Reservation</h3>
            <br >

            <h5  class="tile-title"> {{ reservation.vol.origin }}
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                {{ reservation.vol.destination }}
            </h5>
            <br >

            <img style="width:50px;height: 50px;" src="{{ asset('uploads/') ~reservation.vol.company.logo}}">

            <br >

            <h5  class="tile-title">Company : {{ reservation.vol.company.name }}</h5>

            <br >

            <h5  class="tile-title">Final price : {{ reservation.getFinalPrice() }}</h5>
            <br >

            <h5  class="tile-title">Class : {{ reservation.getClass() }}</h5>
            <br >

            <h5  class="tile-title">Type : {{ reservation.getType() }}</h5>


            <br >

            <a href="/vol/frontOffice/flights" class="btn btn-success btn-block" type="button">Confirm</a>
            <br >

            <form method="post" action="{{ path('reservation_cancel_front', {'id': reservation.id}) }}" onsubmit="return confirm('Are you sure you want to cancel?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                <button class="btn btn-danger btn-block">Cancel</button>

            </form>

        </div>

    </div>
</section>

<!-- Essential javascripts for application to work-->
<script src="{{ asset('../backAssets/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ asset('../backAssets/js/popper.min.js')}}"></script>
<script src="{{ asset('../backAssets/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('../backAssets/js/main.js')}}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{{ asset('../backAssets/js/plugins/pace.min.js')}}"></script>

<!-- Page specific javascripts-->
<script type="text/javascript" src="{{ asset('../backAssets/js/plugins/chart.js')}}"></script>
{% endblock body %}
