<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <title>Vali Admin - Free Bootstrap 4 Admin Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('../backAssets/css/main.css')}}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Vali</h1>
    </div>
    <div class="login-box">
        <div class="login-form" action="index.html">
            <h3 class="login-head"></i>Confirm Reservation</h3>
            <br >
            <h5  class="tile-title">Final price : {{ reservation.getFinalPrice() }}</h5>
            <br >

            <h5  class="tile-title">Class : {{ reservation.getClass() }}</h5>
            <br >

            <h5  class="tile-title">Type : {{ reservation.getType() }}</h5>


            <br >

                <a href="/reservation" class="btn btn-success btn-block" type="button">Confirm</a>
            <br >

            <form method="post" action="{{ path('reservation_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Are you sure you want to cancel?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                <button class="btn btn-danger btn-block">Cancel</button>

            </form>

        </div>

    </div>
</section>

<!-- Essential javascripts for application to work-->
<script src="{{ asset('../backAssets/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ asset('../backAssets/js/popper.min.js')}}"></script>
<script src="{{ asset('../backAssets/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('../backAssets/js/main.js')}}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{{ asset('../backAssets/js/plugins/pace.min.js')}}"></script>

<!-- Page specific javascripts-->
<script type="text/javascript" src="{{ asset('../backAssets/js/plugins/chart.js')}}"></script>
</body>
</html>