{% extends 'baseFront.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="zxx">
<div class="gallery" id="gallery">
    <div class="container">
        <h3 class="title-agile2"> Restaurant</h3>
        <label class="agile-se"></label>
        <div class="w3layouts-main">
            {% for Resteau in tabResteau %}
            <div class="gallery-grids carouselGallery-grid hidden-xs">
                <div class="col-md-4 gallery-grid">
                    <div class="carouselGallery-col-1 carouselGallery-carousel"  data-likes="30" data-index="0" data-username=""
                         data-location=" {{ Resteau.nomr}}"  data-imagetext=" Adress:{{ Resteau.adressr}} <br> Type:  {{ Resteau.typer }} <br> Pays:{{ Resteau.paysr}} <br>  Tel:{{ Resteau.telr }}"
                         data-imagepath="{{asset(Resteau.imgr)}}" data-posturl="#"   style="background-image:url(' {{asset(Resteau.imgr)}}')"  >
                        <div class="carouselGallery-item">
                            <div class="carouselGallery-item-meta">
								<span class="carouselGallery-item-meta-user">détails..</span>
                            </div>
                        </div>
                    </div>
                    <li><a href="{{path('reserver')}}?id={{Resteau.idr }}"  class=""><i class="mb-3 mt-3"> reserver votre restau</i></a></li>
                    <a  href="{{ path('commenter') }}?id={{Resteau.idr }}" class="nav-link active"><h5 class="mb-3 mt-3" >Voir les avis!</h5></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212126.07899261903!2d150.68928304602147!3d-33.82598834810063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sin!4v1463468876401"  allowfullscreen></iframe>
    </div>
           <div class="clearfix"> </div>
            </div>
</html>
{% endblock %}
