{% extends 'baseBack.html.twig' %}

{% block title %}Edit Vol{% endblock %}

{% block body %}

    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-edit"></i> Flight Form </h1>
                <p>Edit Flight </p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item"><a href="#">Edit Flight</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Edit Flight</h3>
                    {{ form_start(form) }}
                    <div class="tile-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" ><i class="fa fa-fw fa-lg fa-check-circle"></i>{{ button_label|default('Save') }}</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{{ path('vol_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>back to list</a>
                    </div>
                    {{ form_end(form) }}
                </div>
                {{ include('vol/_delete_form.html.twig') }}

            </div>

            <div class="clearix"></div>

        </div>
    </main>

{% endblock %}
