{% extends 'base.html.twig' %}
{% block body %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-edit"></i> AJOUTER UNE CHAMBRE </h1>
                <p>Pack & Go</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item"><a href="#">Form Components</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_start(form) }}
                            <div class="form-group">
                                <label for="nomHotelU">Numero chambre</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.numChambre,{'attr':{'class:':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nbrEtoilesU">Type chambre</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.typeChambre,{'attr':{'class:':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nbrChambresU">Etage</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.etage,{'attr':{'class:':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="adresseU">Prix</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.prix,{'attr':{'class:':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="paysU">Image chambre</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.image,{'attr':{'class:':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile-footer">
                        {{ form_widget(form) }}
                        <button class="btn btn-primary" type="submit">Ajouter</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
        </div>
    </main>
{% endblock %}