{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-licol-sm-12 col-md-5"></i> GESTION CHAMBRES</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <td><a href="{{ path('addChambre')}} " class="btn">Ajouter une Chambre</a></td>
                            <tr>
                                <th>Numero chambre</th>
                                <th>Type chambre</th>
                                <th>Etage</th>
                                <th>Prix</th>
                                <th>Image</th>
                                <th>Nom de l'hotel</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for chambre in chambres %}
                                <tr>
                                    <td>{{ chambre.numChambre }}</td>
                                    <td>{{ chambre.typeChambre }}</td>
                                    <td>{{ chambre.etage }}</td>
                                    <td>{{ chambre.prix }}</td>
                                    <td><img src="{{ asset('uploads/' ~ chambre.image) }}" width="180" height="100"></td>
                                    <td>{{ chambre.idHotel }}</td>
                                    <td><a href="{{ path('updateChambre', {'id': chambre.idChambre}) }}" class="btn btn-success">Modifier</a></td>
                                    <td><a href="{{ path('deleteChambre', {'id': chambre.idChambre}) }}" class="btn btn-danger">Supprimer</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Essential javascripts for application to work-->
    </body>
    </html>
{% endblock %}
