<table class="table table-hover table-bordered" id="sampleTable">
    <thead>
    <td><a href="{{ path('addChambre') }} " class="btn">{% trans %}Ajouter une Chambre{% endtrans %}</a></td>
    <tr>
        <th>{% trans %}Numero chambre{% endtrans %}</th>
        <th>{% trans %}Type chambre{% endtrans %}</th>
        <th>{% trans %}Etage{% endtrans %}</th>
        <th>{% trans %}Prix{% endtrans %}</th>
        <th>{% trans %}Image{% endtrans %}</th>
        <th>{% trans %}Nom Hotel{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for chambre in chambres %}
        <tr>
            <td>{{ chambre.numChambre }}</td>
            <td>{{ chambre.typeChambre }}</td>
            <td>{{ chambre.etage }}</td>
            <td>{{ chambre.prix }}</td>
            <td><img src="{{ asset('uploads/' ~ chambre.image) }}" width="180" height="100">
            </td>
            <td>{{ chambre.idHotel }}</td>
            <td><a href="{{ path('updateChambre', {'id': chambre.idChambre}) }}"
                   class="btn btn-success">{% trans %}Modifier{% endtrans %}</a></td>
            <td><a href="{{ path('deleteChambre', {'id': chambre.idChambre}) }}"
                   class="btn btn-danger">{% trans %}Supprimer{% endtrans %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>