<<<<<<< HEAD
{% extends 'baseFront.html.twig' %}

{% block body %}


<section class="row news-grids pb-lg-3 mt-3 mt-lg-5">
    <div class="nav3">
        <ul class="gallery">

            <h3 class="title-agile2">Activités</h3>

            <label class="agile-se"></label>
            <li>
                <div class="w3layouts-main" >
                    {% for activite in activites %}
                        <div class="border:2px solid #E3F2FD;">
                            <div class="ww" class="responsive">
                                <h2 style="color: #f2af00 "><span> {{  activite.nomActivite }} </span></h2>
                                <h2 style="color: antiquewhite"> Prix:{{  activite.prix }} TND</h2><br><br>
                                <img class="agile-img" src="{{ asset('uploads/' ~ activite.imagePath) }}" style="width: 220px; height: 200px; background-size: cover;" class="responsive";  >
                                <br> <br>
                                <p><h3 style="color: #0d1214"> Adresse:{{  activite.adresse }}<br>Type:{{  activite.typeActivite }}</h3></p>
                                <td><a href="{{ path('reserverActivite', {'id': activite.idActivite}) }}" class="btn btn-success">Reserver</a></td>


                            </div>
                        </div>

                    {% endfor %}
                    <div class="clearfix"></div>
                    <div class="navigation text-center">
                        {{ knp_pagination_render(activites) }}
                    </div>

                </div>
                <style>
                    .ww{
                        float: left;
                        width: 30%;
                        margin-left: 40px;
                        margin-bottom: 40px;
                        background: #478bca;
                        padding:4% 1.5% 4%;
                    }
                </style>
            </li>

        </ul>

    </div>

</section>

<!-- //Gallery -->


<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //for-bottom-to-top smooth scrolling -->

<!-- //js-scripts -->

=======
{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
>>>>>>> amir
{% endblock %}
