<section style="background-color: #eee;">
    <div class="container my-5 py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-start align-items-center">

                            <div>
                                <h6 class="fw-bold text-primary mb-1">C</h6>
                                <p class="text-muted small mb-0">

                                </p>
                            </div>
                        </div>

                        <p class="mt-3 mb-4 pb-2">
                        </p>
                        <table>
                            {% for i in tabCmntr %}


                                <tr>
                                <tr>

                                </tr>
                                <td>
                                    {{ i.idUser }}

                                    :  {{ i.contenuCommentaireR }}

                                </td>
                                <td>

                                </td>
                                <td>
                                    <form action="{{ path('supccccF',{'idcommentairer': i.idcommentairer}) }}" >
                                        <button type="submit" class="btn btn-primary" id="">delete</button>

                                    </form>
                                <td><a href="{{ path('Upcommenter',{'idcommentairer':i.idcommentairer}) }}"  type="submit" class="btn btn-danger" id="add" >Modifier</a></td>

                                </td>
                                </tr>

                            {% endfor %}
                        </table>

                        <div class="small d-flex justify-content-start">
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-thumbs-up me-2"></i>
                                <p class="mb-0">Like</p>
                            </a>
                            <a href="{{ path('commenter') }}" class="d-flex align-items-center me-3">
                                <i class="far fa-comment-dots me-2"></i>
                                <p class="mb-0">Comment</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fas fa-share me-2"></i>
                                <p class="mb-0">Share</p>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <div class="d-flex flex-start w-100">
                            <div class="form-outline w-100">


                            </div>
                        </div>

                    </div>
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <div class="d-flex flex-start w-100">
                            <div class="form-outline w-100">

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-fill-out"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



