{% extends 'baseFront.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">

<div class="section pb_70">
    <div class="container">
        <div class="col-lg-12">


                <img height="400" width="900" src=" {{asset(imgr)}}">

        </div>
    </div>

    <div class="section pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading_s1">
                        <div class="container">
                            <h3 class="title-agile2"> Reservation</h3>
                            <label class="agile-se"></label>
                            <div class="w3layouts-main">

                    </div>

                    <div class="field_form">
                        {{ form_start(formm) }}


                        {{form_row(formm.nbrpersonner,{'attr':{'class':'form-control'}})}}


                        {{form_row(formm.dater,{'attr':{'class':'form-control'},})}}


                        {{form_row(formm.timer,{'attr':{'class':'form-control'}})}}




                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill-out">RESERVER</button>
                    </div>
                    {{form_end(formm) }}
                </div>
            </div>

        </div>
    </div>
</div>
    </div>
</div>

</html>
{% endblock %}