{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">

    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-list"></i>  Reservation</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr><th>Nombre Personne</th>
                                <th>Time</th>
                                <th>Date</th>
                                <th>Id restau</th>



                            </thead>
                            <tbody>
                            {% for Reservationr in products %}
                                <tr>
                                    <td>{{ Reservationr.nbrpersonner }}</td>
                                    <td>{{ Reservationr.timer }}</td>
                                    <td>{{ Reservationr.dater }}</td>
                                    <td>{{ Reservationr.idr }}</td>

                                    <td><a href="{{ path('removReserv',{'idreservationr': Reservationr.idreservationr}) }}"  type="submit" class="btn btn-danger" id="add" >delete</a></td>
                                    <td><a href="{{ path('updateR',{'idreservationr': Reservationr.idreservationr}) }}"  type="submit" class="btn btn-success" id="add" >update</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>

    </html>
{% endblock %}