{% extends 'base.html.twig' %}
{% set menu_selected = 'reservationch' %}

{% block body %}
    <style>
        .mode {
            float: right;
        }

        .change {
            cursor: pointer;
            border: 1px solid #555;
            border-radius: 40%;
            width: 20px;
            text-align: center;
            padding: 5px;
            margin-left: 8px;
        }

        .dark {
            background-color: #222;
            color: #e6e6e6;
        }
    </style>
    <main class="app-content">
        <div class="app-title">
            <div class="mode">
                Dark mode:
                <span class="change">OFF</span>
            </div>
            <div>
                <h1><i class="fa fa-th-licol-sm-12 col-md-5"></i> GESTION RESERVATIONS</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Reservations</li>
                <li class="breadcrumb-item active"><a href="#">Reservations Chambres</a></li>
            </ul>
            {% for locale in locales %}
                {% if locale != app.request.locale %}
                    <div class="button-block">
                        <a class="btn btn-outline-info"
                           href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <form onsubmit="return false;" class="search-form">
                        <div class="filter-search-form-2 search-1-adjustment bg-white rounded-sm shadow-7 pr-6 py-6 pl-6">
                            <div class="filter-inputs">
                                <div class="form-group position-relative w-lg-45 w-xl-40 w-xxl-45">
                                    <input class="form-control focus-reset pl-13" onkeyup="myFunction()" type="text"
                                           id="keyword" placeholder="search">
                                    <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6">
                                        <i class="icon icon-zoom-2 text-primary font-weight-bold"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form role="search" id="nav-search-form" method="post" action="{{ path('tri') }}">
                        <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
                            <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
                                <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
                                    Sort by Check In
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="tile-body" id="aller">
                        {{ include ('reservation_chambre/tabReserv.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        function myFunction() {
            var p = document.getElementById("keyword").value;
            // window.location.href="{{ path('searchRes') }}?searchValue="+p;
            $.ajax({
                /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                url: "{{ path('searchRes') }}",
                /* La méthode utilisée pour transférer les données est GET */
                type: 'GET',
                /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                data: {
                    'searchValue': p
                },
                /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                success: function (data) {
                    $('#aller').html(data);
                },
            });
        }
    </script>
    <script>
        function changeColor(name) {
            if ($(name).hasClass("dark")) {
                $(name).removeClass("dark");
                $(".change").text("OFF");
            } else {
                $(name).addClass("dark");
                $(".change").text("ON");
            }
        }

        $(".change").on("click", function () {
            changeColor("body");
            changeColor(".tile");
            changeColor(".app-title");
            changeColor(".app-content");

        });
    </script>
    <!-- Essential javascripts for application to work-->
{% endblock %}
